.userInfo{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 1vw;
}
.userInfo img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.userInfo button{
    height: fit-content;
    width: fit-content;
}
.userInfo div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}